.dashboard #content {
  //width: 800px;
}

#header {
  background: #003366;
  color: #fff;
}

#branding h1 {
  color: white;
}

.module h2, .module caption, .inline-group h2 {
  background: #003366;
}

select[multiple] {
    height: 200px;
    width: 51%;
}


