$black: #000;
$white: #fff;
$darkblue: #036;
$lightblue: #008ec6;
$grey: #e1ddd8;
//$lightgrey: #f0eeec;
$lightgrey: #e9e7e4;
$reallylightgrey: #f9f9f9;
$bordergrey: #ccc;

body, html {
  font-family: "Arial", sans-serif;
  color: $darkblue;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  color: $lightblue;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border: 1px solid $lightblue;
  border-radius: 10px;
  font-size: 1.15em;
  width: 70%;
}

code {
  font-size: 1em;
  background: $reallylightgrey;
  padding: 2px 4px 1px 4px;
  border-radius: 5px;
  border: 1px solid $bordergrey;
}

pre {
  code {
    border: none;
    background: none;
    padding: 0;
  }
  display: block;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 10px;
  background: $reallylightgrey;
  border: 1px solid $bordergrey;
  width: 80%;
  white-space:pre-wrap;
  overflow-x: hidden;
}

#logo {
  width: 960px;
  height: 100px;
  padding-top: 20px;
  margin: auto;
  img {
    vertical-align: top;
  }
}

#login {
  padding-top: 33px;
  float: right;
  text-align: right;
}

#banner {
  width: 100%;
  background-image: url("/static/blue.gif");
  margin-bottom: 30px;

  #banner_image {
    height: 137px;
    width: 960px;
    margin: auto;
    position: relative;
    background-image: url("/static/banner.jpg");

    #banner_text {
      color: white;
      background: rgba(0,142,198,0.75);
      position: absolute;
      top: 30px;
      left: 60px;
      height: 80px;
      width: 60%;

      h1 {
        font-size: 20px;
        margin: 17px 0 0 0;
      }
      h2 {
        font-size: 18px;
        margin: 0;
        font-weight: normal;
      }

      :before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 100%;
        top: 0;
        height: 50px;
        width: 30px;
        background: rgba(0,142,198,0.5);
      }
      :after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 100%;
        width: 0px;
        height: 0px;
        border-top: 30px solid rgba(0,142,198,0.5);
        border-left: 30px solid transparent;
      }
    }
  }
}

nav {
  width: 240px;
  margin-right: 10px;
  float: left;

  code {
    font-size: 0.8em;
    background: none;
    padding: 0;
    border: none;
  }

  ul {
    font-size: 13px;
    padding-bottom: 20px;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 1px;
      list-style-type	: none;

      a {
        transition: all 0.1s ease-out;
        text-decoration:none;
        color: $darkblue;
        background: url("/static/nav_arrow_list.png") 15px 10px no-repeat;
        padding: 6px 0px 5px 35px;
        background-color: $lightgrey;
        display: block;
      }
    }

    li.locked {
      background: url("/static/nav_arrow_list.png") 15px 10px no-repeat;
      padding: 6px 0px 5px 35px;
      background-color: $lightgrey;
      color: #CD9999;
    }

    li.inactive {
      a {
	color: #B5B5B5 !important;
      }
      a:after {
	content: " - not visible to students";
	font-style: italic;
      }
    }

    li.visitedPage {
      a {
        background: $lightgrey url("/static/nav_arrow_visited.png") 15px 15px no-repeat;
        padding: 10px 5px 5px 35px;
        display: block;
        font-size: 16px;
      }

      a:hover {
        background-color: $grey;
      }
    }

    li.currentPage {
      a {
        background: $white;
        font-weight: bold!important;
        color: $black;
        padding: 10px 5px 5px 15px;
        margin-bottom: 1px;
        font-size: 14px;
        display: block;
      }
    }

    li.futurePage {
      a:hover{
        background: url("/static/nav_arrow_list.png") 20px 10px no-repeat;
        background-color: $grey;
        color: $lightblue;
      }
    }

    li.heading {
      color: #666;
      padding: 6px 0px 5px 16px;
      background-color: $lightgrey;
      display: block;
      font-style: italic;
    }

    li.spacer {
      height: 15px;
      background-color: $white;
    }

    li.empty {
      color: #666;
      padding: 6px 0px 5px 16px;
      background-color: $lightgrey;
      display: block;
    }
  }
}

#content_wrapper {
  width: 960px;
  margin: auto;
  position: relative;
}

#editor {
  position: absolute;
  top: -23px;
  right: 0;
}

article {
  margin-left: 260px;
  padding: 20px;
  padding-bottom: 1px;
  padding-top: 1px;
  box-shadow: 0px 1px 6px #b8afa2;
  line-height: 24px;
  overflow: auto;

  h1:first-child {
    margin-top: 0;
  }
}

section {
  margin: 20px 0;
  position: relative;
}

footer {
  clear: both;
  width: 960px;
  margin: auto;
  padding-top: 20px;
  height: 100px;
  color: #c3bcb2;
  font-size: 12px;

  a {
    color: #A8D7E1;
  }
}

a.editlink, .staff {
  font-size: 12px;
  font-weight: bold;
  color: #f45b3d !important;
}

section.attendance {
  float: right;
  z-index: 1000;
  width: 180px;
  background: $reallylightgrey;
  border: 1px solid $bordergrey;
  padding: 10px;
  font-size: 11px;
  line-height: 1.5;
  margin-left: 20px;

  form {
    text-align: right;
    margin-top: 15px;

    input {
      margin: 2px;
      box-sizing: border-box;
    }
    input[type=text] {
      width: 60px;
    }
    input[type=submit] {
      min-width: 60px;
    }
  }

  div.ticket {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}

section.session {
  margin-bottom: 50px;
}

section.students {
  clear: right;

  table {
    border: 1px solid $bordergrey;
    background-color: $reallylightgrey;
    width: 100%;
    border-radius: 3px;
    color: #333;
    margin-bottom: 40px;

    td, th {
      border-top-color: white;
      border-bottom: 1px solid #DFDFDF;
      color: #555;
    }
    th {
      text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
      font-weight: normal;
      padding: 7px 7px 8px;
      text-align: left;
      line-height: 1.3em;
      font-size: 12px;
    }
    td {
      padding: 4px 7px 2px;
      vertical-align: top;
    }
  }
}

section.progress {
  clear: right;

  table {
    width: 100%;
    border-collapse: collapse;
    background: url('/static/grid.png');

    .y-axis {
      background: white;
      border-right: 1px solid #036;
      width: 8em;
      text-align: right;
      padding: 6px;
    }

    .x-axis {
      background: white;
      border-top: 1px solid #036;

      .right {
	float: right;
      }
      .left {
	float: left;
      }
    }

    .origin {
      background: white;
    }
  }
}

.bar {
  height: 20px;
  background-color: #6c3;
  text-align: right;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 12px;
}

section.answers {
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: -20px;

    h2 {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    pre {
      font-size: 12px;
      margin: 0;
      margin-bottom: 10px;
      white-space: pre-wrap;
    }

    pre.missing {
	  color: red;
    }

    td {
      vertical-align: top;
    }
    td.step {
      width: 77px;
      text-align: right;
      padding-right: 10px;
      padding-top: 5px;
    }
  }
}

section.step {
  .content {
    table {
      border-collapse: collapse;
      td, th {
        padding: 0 5px;
      }
      th {
        border-bottom: 1px solid black;
      }
    }
  }

  table.wizard {
    width: 100%;
    height: 400px;
    margin-top: -15px;

    td {
      vertical-align: top;
    }
    td.header {
      border-bottom: 2px solid #036;
      margin-top: -15px;
      padding: 10px;
      height: 10px;

      img {
	margin-left: -12px;
	vertical-align: top;
      }

      h1, h2 {
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	margin: 3px 0 0 4px;
      }

      h2 {
	float: right;
      }
    }

    td.answer {
      padding-bottom: 15px;
      text-align: right;
      font-weight: bold;
      height: 70px;

      textarea {
	vertical-align: top;
	width: 400px;
	height: 70px;
      }
    }

    td.footer {
      border-top: 2px solid #036;
      padding-top: 15px;
      height: 10px;

      input[type=submit] {
	width: 100px;
	padding: 5px;
      }

      input.left {
	float: left;
      }

      input.right {
	float: right;
      }
    }
  }
}