body, html {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

#logo {
  width: 960px;
  height: 100px;
  padding-top: 20px;
  margin: auto;
  img {
    vertical-align: top;
  }
}

#banner {
  width: 100%;
  background-image: url("/static/blue.gif");
  margin-bottom: 30px;

  #banner_image {
    height: 137px;
    width: 960px;
    margin: auto;
    position: relative;
    background-image: url("/static/banner.jpg");

    #banner_text {
      color: white;
      background: rgba(0,142,198,0.75);
      position: absolute;
      top: 30px;
      left: 60px;
      height: 80px;
      width: 60%;

      h1 {
        font-size: 20px;
        margin: 17px 0 0 0;
      }
      h2 {
        font-size: 18px;
        margin: 0;
        font-weight: normal;
      }

      :before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 100%;
        top: 0;
        height: 50px;
        width: 30px;
        background: rgba(0,142,198,0.5);
      }
      :after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 100%;
        width: 0px;
        height: 0px;
        border-top: 30px solid rgba(0,142,198,0.5);
        border-left: 30px solid transparent;
      }
    }
  }
}

nav {
  width: 230px;
  margin-right: 10px;
  float: left;

  code {
    font-size: 0.8em;
  }

  ul {
    font-size: 13px;
    padding-bottom: 20px;
    margin: 0;
    padding: 0;

    li {
      list-style-type	: none;
      border-bottom	: 1px solid #e1ddd8;

      a {
        transition: all 0.1s ease-out;
        text-decoration:none;
        color: #003366;
        color: #003366;
        background: url("/static/nav_arrow_list.png") 15px 10px no-repeat;
        padding: 6px 0px 5px 35px;
        background-color: #F0EEEC;
        display: block;
      }
    }

    li.visitedPage {
      a {
        background: #e9e7e4 url("/static/nav_arrow_visited.png") 15px 15px no-repeat;
        padding: 10px 5px 5px 35px;
        margin-bottom: 1px;
        display: block;
        font-size: 16px;
      }

      a:hover {
        background-color: #e1ddd8;
      }
    }

    li.currentPage {
      a {
        background: #FFFFFF;
        font-weight: bold!important;
        color: #000000;
        padding: 10px 5px 5px 15px;
        margin-bottom: 1px;
        font-size: 14px;
        display: block;
      }
    }

    li.futurePage {
      a:hover{
        background: url("/static/nav_arrow_list.png") 20px 10px no-repeat;
        background-color: #e1ddd8;
        color: #008ec6;
      }
    }

    li.heading {
      color: #666;
      padding: 6px 0px 5px 16px;
      background-color: #F0EEEC;
      display: block;
    }

    li.empty {
      color: #666;
      padding: 6px 0px 5px 16px;
      background-color: #F0EEEC;
      display: block;
    }
  }
}

#content_wrapper {
  width: 960px;
  margin: auto;
}

article {
  margin-left: 250px;
  font-size: 14px;
  line-height: 24px;
  color: #003366;
  padding: 20px;
  box-shadow: 0px 1px 6px #b8afa2;

  a {
    color: #008ec6;
  }

  h1:first-child {
    margin-top: 0;
  }
}

footer {
  clear: both;
  width: 960px;
  margin: auto;
  padding-top: 20px;
  height: 100px;
  color: #c3bcb2;
  font-size: 12px;

  a {
    color: #A8D7E1;
  }
}
