body, html {
  font-family: "Arial", sans-serif;
  color: #003366;
  margin: 0;
  padding: 0;
  font-size: 14px; }

a {
  color: #008ec6; }

#logo {
  width: 960px;
  height: 100px;
  padding-top: 20px;
  margin: auto; }
  #logo img {
    vertical-align: top; }

#login {
  padding-top: 33px;
  float: right; }

#banner {
  width: 100%;
  background-image: url("/static/blue.gif");
  margin-bottom: 30px; }
  #banner #banner_image {
    height: 137px;
    width: 960px;
    margin: auto;
    position: relative;
    background-image: url("/static/banner.jpg"); }
    #banner #banner_image #banner_text {
      color: white;
      background: rgba(0, 142, 198, 0.75);
      position: absolute;
      top: 30px;
      left: 60px;
      height: 80px;
      width: 60%; }
      #banner #banner_image #banner_text h1 {
        font-size: 20px;
        margin: 17px 0 0 0; }
      #banner #banner_image #banner_text h2 {
        font-size: 18px;
        margin: 0;
        font-weight: normal; }
      #banner #banner_image #banner_text :before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 100%;
        top: 0;
        height: 50px;
        width: 30px;
        background: rgba(0, 142, 198, 0.5); }
      #banner #banner_image #banner_text :after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 100%;
        width: 0px;
        height: 0px;
        border-top: 30px solid rgba(0, 142, 198, 0.5);
        border-left: 30px solid transparent; }

nav {
  width: 230px;
  margin-right: 10px;
  float: left; }
  nav code {
    font-size: 0.8em; }
  nav ul {
    font-size: 13px;
    padding-bottom: 20px;
    margin: 0;
    padding: 0; }
    nav ul li {
      list-style-type: none;
      border-bottom: 1px solid #e1ddd8; }
      nav ul li a {
        transition: all 0.1s ease-out;
        text-decoration: none;
        color: #003366;
        color: #003366;
        background: url("/static/nav_arrow_list.png") 15px 10px no-repeat;
        padding: 6px 0px 5px 35px;
        background-color: #F0EEEC;
        display: block; }
    nav ul li.visitedPage a {
      background: #e9e7e4 url("/static/nav_arrow_visited.png") 15px 15px no-repeat;
      padding: 10px 5px 5px 35px;
      margin-bottom: 1px;
      display: block;
      font-size: 16px; }
    nav ul li.visitedPage a:hover {
      background-color: #e1ddd8; }
    nav ul li.currentPage a {
      background: #FFFFFF;
      font-weight: bold !important;
      color: #000000;
      padding: 10px 5px 5px 15px;
      margin-bottom: 1px;
      font-size: 14px;
      display: block; }
    nav ul li.futurePage a:hover {
      background: url("/static/nav_arrow_list.png") 20px 10px no-repeat;
      background-color: #e1ddd8;
      color: #008ec6; }
    nav ul li.heading {
      color: #666;
      padding: 6px 0px 5px 16px;
      background-color: #F0EEEC;
      display: block; }
    nav ul li.empty {
      color: #666;
      padding: 6px 0px 5px 16px;
      background-color: #F0EEEC;
      display: block; }

#content_wrapper {
  width: 960px;
  margin: auto; }

article {
  margin-left: 250px;
  padding: 20px;
  box-shadow: 0px 1px 6px #b8afa2;
  line-height: 24px; }
  article h1:first-child {
    margin-top: 0; }

footer {
  clear: both;
  width: 960px;
  margin: auto;
  padding-top: 20px;
  height: 100px;
  color: #c3bcb2;
  font-size: 12px; }
  footer a {
    color: #A8D7E1; }

a.editlink {
  font-weight: bold;
  color: #f45b3d !important; }

#step_header {
  border-bottom: 2px solid #036;
  margin-top: -15px;
  padding: 10px; }
  #step_header img {
    margin-left: -12px;
    vertical-align: top; }
  #step_header h1, #step_header h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin: 3px 0 0 4px; }
  #step_header h2 {
    float: right; }

#answer {
  margin-bottom: 15px;
  text-align: right;
  font-weight: bold; }
  #answer textarea {
    vertical-align: top;
    width: 400px;
    height: 5em; }

#step_footer {
  border-top: 2px solid #036;
  padding: 15px 0; }
  #step_footer input[type=submit] {
    width: 100px;
    padding: 5px; }
  #step_footer input.left {
    float: left; }
  #step_footer input.right {
    float: right; }

/*# sourceMappingURL=main.css.map */
