<table>
  {% for answers_per_assignment in answers %}
    {% if answers_per_assignment %}
      <tr>
        <td colspan="2">
	  <h2>Assignment {{forloop.counter}}</h2>
        </td>
      </tr>
    {% endif %}
    {% for answer in answers_per_assignment %}
      {% if answer %}
        <tr>
          <td class="step">
            <a href="{{session.get_absolute_url}}assignment/{{forloop.parentloop.counter}}/?step={{forloop.counter}}">Step {{forloop.counter}})</a>
	  </td>
	  <td>
	    {% if answer == "mispoes" %}
	      <pre class="missing">Required answer is missing</pre>
	    {% else %}
	      <pre>{{answer}}</pre>
	    {% endif %}
	  </td>
        </tr>
      {% endif %}
    {% endfor %}
  {% endfor %}
</table>
