<ul>
  <li class="visitedPage"><a href="{% url 'homepage' %}">Home</a></li>
  <li class="visitedPage"><a href="{% url 'course' course.slug %}">{{course.name}}<br>(<code>{{course.colloquial_name}}</code>)</a></li>
  <li class="visitedPage"><a href="{% url 'session' course.slug session.number %}">Session {{session.number}}</a></li>
  <li class="currentPage"><a href="{% url 'assignment' course.slug session.number assignment.number %}">Assignment {{assignment.number}}: {{assignment.name}}</a></li>
</ul>
