<ul>
  <li class="visitedPage"><a href="{% url 'homepage' %}">Home</a></li>
  <li class="currentPage"><a href="{% url 'course' course.slug %}">{{course.name}}<br>(<code>{{course.colloquial_name}}</code>)</a></li>

  {% if course.topics.all %}
    <li class="heading">Topics:</li>
    {% for topic in course.topics.all %}
      <li class="futurePage"><a href="{% url 'topic' course.slug topic.number %}">{{topic.number}}. {{topic.name}}</a></li>
    {% endfor %}

    <li class="spacer" />
  {% endif %}

  <li class="heading">Lab sessions:</li>
  {% for session in course.sessions.all %}
    {% if session.active %}
      <li class="futurePage"><a href="{% url 'session' course.slug session.number %}">Session {{session.number}}{% if session.name %}: {{session.name}}{% endif %}</a></li>
    {% elif user.is_staff %}
      <li class="futurePage inactive"><a href="{% url 'session' course.slug session.number %}">Session {{session.number}}{% if session.name %}: {{session.name}}{% endif %}</a></li>
    {% endif %}
  {% empty %}
    <li class="empty">No sessions available</li>
  {% endfor %}
  {% if user.is_staff and perms.autodidact.add_session %}
    <li><div class="add"><a class="editlink" href="{% url 'add_session' course.slug %}">Add a session</a></div></li>
  {% endif %}
  {% if user.is_staff and perms.autodidact.add_course %}
    <li><div class="add"><a class="editlink" href="{% url 'copy_course' course.slug %}">Duplicate this course</a></div></li>
  {% endif %}

</ul>

