{% if edit_type == 'documentation' %}
  {% if perms.autodidact.change_page %}
    <a class="editlink" href="{% url 'admin:autodidact_page_change' page.pk %}">Edit this page</a>
  {% endif %}
{% endif%}

{% if edit_type == 'program' %}
  {% if perms.autodidact.change_program %}
    <a class="editlink" href="{% url 'admin:autodidact_program_change' program.pk %}">Edit this program</a>
  {% endif %}
{% endif%}

{% if edit_type == 'course' %}
  {% if perms.autodidact.change_course %}
    <a class="editlink" href="{% url 'admin:autodidact_course_change' course.pk %}">Edit this course</a>
  {% endif %}
{% endif%}

{% if edit_type == 'session' %}
  {% if request.user.is_staff and perms.autodidact.change_session %}
    <a class="editlink" href="{% url 'admin:autodidact_session_change' session.pk %}">Edit this session</a> -
  {% endif %}
  {% if request.user.is_staff %}
    <a class="editlink" href="{% url 'print_session' course.slug session.number %}" target="_blank">Print this session</a>
  {% endif %}
{% endif %}

{% if edit_type == 'topic' %}
  {% if request.user.is_staff and perms.autodidact.change_topic %}
    <a class="editlink" href="{% url 'admin:autodidact_topic_change' topic.pk %}">Edit this topic</a>
  {% endif %}
{% endif %}

{% if edit_type == 'assignment' %}
  {% if request.user.is_staff and perms.autodidact.change_step %}
    <a class="editlink" href="{% url 'admin:autodidact_step_change' step.pk %}">Edit this step</a>
    {% if perms.autodidact.delete_step %}
      - <a class="editlink" href="{% url 'delete_step' course.slug session.number assignment.number %}?step={{step.number}}" onclick="return window.confirm('Are you sure?')">Delete this step</a>
    {% endif %}
    {% if perms.autodidact.add_step %}
      - <a class="editlink" href="{% url 'add_step' course.slug session.number assignment.number %}">Add new step</a>
    {% endif %}
  {% endif %}
{% endif %}
