<table>
  <tr>
    <th>Student</th>
    {% for assignment in assignments %}
      {% if assignment.active %}
        <th>Assignment {{assignment.number}}</th>
      {% endif %}
    {% endfor %}
  </tr>
  {% for student in students %}
    <tr>
      <td>
        <small>
          <a href="{% url 'progress' course.slug session.number student.username %}">{% if student.uvt_user.full_name %}{{student.uvt_user.full_name}}{% elif student.get_full_name %}{{student.get_full_name}}{% else %}{{student.username}}{% endif %}</a>
        </small>
      </td>
      {% for percentage in student.progress %}
        <td>
          {% if percentage >= 0 %}
            <div class="bar" style="width: {{percentage|floatformat:'0'}}%">{{percentage|floatformat:'0'}}%</div>
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% empty %}
    <tr>
      <td colspan="{{assignments|length|add:1}}">No students have registered yet</td>
    </tr>
  {% endfor %}
</table>
