<ul>
  <li class="visitedPage"><a href="{% url 'homepage' %}">Home</a></li>
  <li class="visitedPage"><a href="{% url 'course' course.slug %}">{{course.name}}<br>(<code>{{course.colloquial_name}}</code>)</a></li>
  <li class="currentPage"><a href="{% url 'session' course.slug session.number %}">Session {{session.number}}</a></li>

  <li class="heading">Assignments:</li>
  {% for assignment in assignments %}

    {% if user.is_staff and not assignment.active %}
      <li class="futurePage inactive"><a href="{% url 'assignment' session.course.slug session.number assignment.number %}">Assignment {{assignment.number}}: {{assignment.name}}</a></li>

    {% elif user.is_staff and assignment.locked and not current_class %}
      <li class="futurePage"><a class="locked" href="{% url 'assignment' session.course.slug session.number assignment.number %}">Assignment {{assignment.number}}: Locked {% if session.registration_enabled %} until class starts{% endif %}</a></li>

    {% elif not assignment.active %}

    {% elif not current_class and assignment.locked %}
      <li class="locked">Assignment {{assignment.number}}: Locked {% if session.registration_enabled %} until class starts{% endif %}</li>

    {% else %}
      <li class="futurePage"><a href="{% url 'assignment' session.course.slug session.number assignment.number %}">Assignment {{assignment.number}}: {{assignment.name}}</a></li>
    {% endif %}

  {% endfor %}

  {% if user.is_staff and perms.autodidact.add_assignment %}
    <li>
      <div class='add'>
        <a class="editlink" href="{% url 'add_assignment' course.slug session.number %}">Add an assignment</a>
      </div>
    </li>
  {% endif %}

  <li class="spacer"/>

  <li class="heading">Downloads:</li>
  {% for file in session.downloads.all %}
    <li class="futurePage"><a href="{{file.url}}" download>{{file}}</a></li>
  {% empty %}
    <li class="empty">No downloads available</li>
  {% endfor %}

  {% if perms.autodidact.add_assignment %}
    <li>
      <div class='add'>
	<a class="editlink" href="{% url 'admin:autodidact_session_change' session.pk %}">Add a download</a>
      </div>
    </li>
  {% endif %}
</ul>
