{% load static %}
{% load autodidact %}

<section class="step{% if fullscreen %} fullscreen{% endif %}">
  <form method="POST" action="{% url 'assignment' course.slug session.number assignment.number %}?step={{step.number}}{% if fullscreen %}&fullscreen{% endif %}">
    {% csrf_token %}

    <table class="wizard">
      <tr>
	<td class="header">
          <a href="{{step.get_absolute_url}}{% if not fullscreen %}&fullscreen{% endif %}"><img id="fullscreen_toggle" src="{% if fullscreen %}{% static 'fullscreen_off.png' %}{% else %}{% static 'fullscreen_on.png' %}{% endif %}" width="24" height="24"></a>
	  <img id="checkbox" src="{% if completedstep %}{% static 'checked.png' %}{% else %}{% static 'unchecked.png' %}{% endif %}" alt="Completed" width="24" height="24">
	  <h1>Assignment {{assignment.number}} &ndash; step {{step.number}} of {{count}}</h1>
	</td>
      </tr>

      <tr>
	<td class="content">
          {{step.description|upload_urls:session.get_absolute_url}}
	</td>
      </tr>

      {% if step.answer_required %}
        <tr>
	  <td class="answer">
            {% if grade_answer %}
              {% if completedstep.passed %}
                <div class="correct">
                  Correct answer
                </div>
                {% elif completedstep %}
                <div class="incorrect">
                  Sorry, that answer is incorrect. Please try again.
                </div>
              {% endif %}
            {% endif %}
            Your answer:
            {% if multiple_choice %}
              <ul class="answers">
                {% for answer in answers %}
                  <li>
                    {% if multiple_answers_allowed %}
                      <input type="checkbox" name="answer" value="{{answer}}" id="answer_{{forloop.counter}}">
                    {% else %}
                      <input type="checkbox" name="answer" value="{{answer}}" id="answer_{{forloop.counter}}">
                    {% endif %}
                    <label for="answer_{{forloop.counter}}">{{answer}}</label>
                  </li>
                {% endfor %}
              </ul>
              {% if multiple_answers_allowed %}
                <br><small>(multiple answers are allowed)</small>
              {% endif %}
            {% else %}
	      <textarea id="answerbox" name="answer">{{given_answers.0}}</textarea>
            {% endif %}
	  </td>
        </tr>
      {% endif %}
    </table>

    <div class="step_clarifications">
      {% for hint in step.clarifications.all %}
        <input name="clarification" class="toggle" id="hint{{forloop.counter}}" type="radio">
        <label for="hint{{forloop.counter}}" style="left: calc({{forloop.counter}} * 16px)"></label>
        <div class="clarification">
          {% if hint.image %}
            <img src="{{hint.image.url}}">
          {% endif %}
          {{hint.description}}
        </div>
      {% endfor %}
    </div>

    <div class="step_footer">
      {% if not first %}
	<input class="left button" type="submit" name="previous" value="Previous" />
      {% endif %}
      {% if not last %}
	<input class="right button" type="submit" name="next" value="Next" />
      {% else %}
	<input class="right button finish" type="submit" name="next" value="Finish!" />
      {% endif %}
    </div>
  </form>

  <div class="step_progress">
    <h2>Your progress in this assignment:</h2>
    <ul class="progress">
      {% for finished in step_overview %}
        <li>
          {% if forloop.counter == step.number %}
            <span class="current step">{{forloop.counter}}</span>
          {% elif finished %}
            <a class="finished step" href="{% url 'assignment' course.slug session.number assignment.number %}?step={{forloop.counter}}{% if fullscreen %}&fullscreen{% endif %}">{{forloop.counter}}</a>
          {% else %}
            <a class="unfinished step" href="{% url 'assignment' course.slug session.number assignment.number %}?step={{forloop.counter}}{% if fullscreen %}&fullscreen{% endif %}">{{forloop.counter}}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
