{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Best Practices in Statistics - Tilburg University{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--[if lt IE 9]>
        <script src="{% static 'html5shiv.min.js' %}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    <header id="logo">
      <img src="{% static 'tiulogo.jpg' %}" />
      <img src="{% static 'tiuslogan.jpg' %}" />
      <div id="login">
        {% if request.user.is_authenticated %}
        Logged in as <b>{{request.user.username}}</b>
        <a href="{% url 'logout' %}">Log out</a>
        {% if request.user.is_staff %}
        <br>
        <span class="staff">You are a staff member</span>
        {% endif %}
	{% else %}
        <a href="{% url 'login' %}">Log in</a>
	{% endif %}
      </div>
    </header>

    <header id="banner">
      <div id="banner_image">
        <div id="banner_text">
          {% block banner %}
          <h1>Best Practices in Statistics</h1>
          <h2>Online Statistics Practice for Students in the Social Sciences</h2>
          {% endblock %}
        </div>
      </div>
    </header>

    <div id="content_wrapper">
      <nav>
        <ul>
          {% block navigation %}
          {% endblock %}
        </ul>
      </nav>

      <header id="editor">
        {% block editor %}
        {% endblock %}
      </header>

      <article>
        {% block content %}
        {% endblock %}
      </article>
    </div>

    <footer>
      <p>
        Copyright 2016 Tilburg University
      </p>

      <p>
        BPS is built using <a href="https://github.com/JaapJoris/autodidact">Autodidact</a>. Autodidact is free software: you can redistribute it and/or modify	it under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">GNU Affero General Public License</a>.
      </p>
    </footer>

    {% block extrascript %}{% endblock %}
  </body>
</html>
