{% extends 'base.html' %}
{% load static %}
{% load markdown_tag %}

{% block content %}

{% if session.registration_enabled %}
<section class="attendance">

  {% if request.user.is_staff %}
  {% if current_class %}
  You are currently teaching group <b>{{current_class.number}}</b>.
  The registration code for this class is:
  <div class="ticket">
	{{current_class.ticket}}
  </div>
  Please distribute this code to everyone in class. It will register their attendance and unlock the in-class assignments.
  <form method="POST" action="{% url 'endclass' %}">
	{% csrf_token %}
	<input type="hidden" name="session" value="{{session.pk}}">
	<input type="submit" value="End this class" />
  </form>

  {% else %}
  You are currently not teaching any classes. Please enter the registration code of a class:
  <form method="POST" action="{% url 'joinclass' %}">
	{% csrf_token %}
	Registration code:
	<input type="text" name="ticket" />
	<input type="hidden" name="session" value="{{session.pk}}">
	<input type="submit" value="Submit" />
  </form>
  {% endif %}

  <br>Or start a new class by entering a class number (e.g., PSY-01).
  <form method="POST" action="{% url 'startclass' %}">
	{% csrf_token %}
	<input type="hidden" name="session" value="{{session.pk}}" />
	Class number:
	<input type="text" name="class_nr" />
	<input type="submit" value="Start a new class" />
  </form>

  {% elif present %}
  <b>Your attendance to the class “{% for class in present%}{{class.number}}{% if not forloop.last %}, {% endif %}{% endfor %}” has been registered.</b>
  {% else %}
  Please enter a valid registration code to register your attendance. You will receive this code in class.
  <form method="POST" action="">
	{% csrf_token %}
	{% if ticket_error %}
	<div class="ticket_error_text">
	  Invalid code
	</div>
	Registration Code:
	<input type="text" name="ticket" class="ticket_error" value="{{ticket_error}}">
	{% else %}
	Registration Code:
	<input type="text" name="ticket">
	{% endif %}
	<input type="submit" value="Submit" />
  {% endif %}
</section>
{% endif %}

<section class="session description">
  <h1>Session {{session.nr}}: {{session.name}}</h1>

  {% for presentation in session.presentations.all %}
  {% if presentation.visibility == 1 and request.user.is_staff %}
  <iframe src="{% static 'ViewerJS/index.html' %}#{{presentation.url}}" width="400" height="300" allowfullscreen></iframe>
  {% elif presentation.visibility == 2 and present or request.user.is_staff %}
  <iframe src="{% static 'ViewerJS/index.html' %}#{{presentation.url}}" width="400" height="300" allowfullscreen></iframe>
  {% elif presentation.visibility == 3 %}
  <iframe src="{% static 'ViewerJS/index.html' %}#{{presentation.url}}" width="400" height="300" allowfullscreen></iframe>
  {% endif %}
  {% endfor %}
  {{session.description|markdown}}
</section>

{% if request.user.is_staff and current_class %}
<section class="students">
  <a name="students" />
  <h1>Students in this class (<a href="#students">refresh</a>)</h1>

  <table>
	<tr>
	  <th>Student</th>
	  {% for assignment in assignments %}
	  <th>Assignment {{forloop.counter}}</th>
	  {% endfor %}
	</tr>
	{% for student in students %}
	<tr>
	  <td>{{student}}</td>
	  {% for percentage in student.progress %}
	  <td>
		{% if percentage >= 0 %}
		<div class="bar" style="width: {{percentage|floatformat:'0'}}%">{{percentage|floatformat:'0'}}%</div>
		{% endif %}
	  </td>
	  {% endfor %}
	</tr>
	{% empty %}
	<tr>
	  <td colspan="{{assignments|length|add:1}}">No students have registered yet</td>
	</tr>
	{% endfor %}
  </table>
</section>

{% else %}
<section class="session progress">
  <h1>Your progress in session {{session.nr}}:</h1>
  <table>
	{% for percentage in progress %}
	{% if percentage >= 0 %}
	<tr>
      <td class="y-axis">
		Assignment {{forloop.counter}}:
      </td>
      <td>
		<div class="bar" style="width: {{percentage|floatformat:'0'}}%">{{percentage|floatformat:'0'}}%</div>
      </td>
	</tr>
	{% endif %}
	{% endfor %}
	<tr>
	  <td class="origin">
	  </td>
	  <td class="x-axis">
	  </td>
	</tr>
  </table>
</section>

<section class="session answers">
  <h1>Your answers:</h1>
  <table>
	{% for answers_per_assignment in answers %}
	{% if answers_per_assignment %}
	<tr>
	  <td colspan="2">
		<h2>Assignment {{forloop.counter}}</h2>
	  </td>
	</tr>
	{% endif %}
	{% for answer in answers_per_assignment %}
	{% if answer %}
	<tr>
	  <td class="step">
		<a href="{% url 'assignment' course.slug session.nr forloop.parentloop.counter %}?step={{forloop.counter}}&save_only=true">Step {{forloop.counter}}</a>)
	  </td>
	  <td>
		{% if answer == "mispoes" %}
		<pre class="missing">Required answer is missing</pre>
		{% else %}
		<pre>{{answer}}</pre>
		{% endif %}
	  </td>
	</tr>
	{% endif %}
	{% endfor %}
	{% endfor %}
  </table>
</section>
{% endif %}
{% endblock %}
