{% extends "admin/change_list.html" %}

{% block content_title %}
{% endblock %}

{% block content %}
  <div style="background: #dfd; padding: 20px; padding-right: 20%">
    <h1>How quizzes work</h1>
    <p>
      Each course can have multiple quizzes. When the student clicks the "Take the quiz" button, a quiz is randomly selected from these quizzes. This page shows the overview of all available quizzes per course. Click a quiz below to edit its questions, or add a new quiz using the button on the right.
    </p>
  </div>
{{ block.super }}
{% endblock %}
