{% load static %}
{% load autodidact %}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Best Practices in Statistics - Tilburg University{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main5.css' %}"/>
    <link rel="stylesheet" href="{% static 'uvt.css' %}"/>
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    {% block header %}
      <header id="logo">
        <img src="{% static 'tiulogo.jpg' %}" />
        <img src="{% static 'tiuslogan.jpg' %}" />
        {% if user.is_authenticated %}
          <div id="login">
            Logged in as <b>{{user.username}}</b>
            <a href="{% url 'logout' %}">Log out</a>
            {% if user.is_staff %}
              <br>
              <span class="staff">You are a staff member</span><br>
              <a class="editlink" href="{% url 'manage' %}">Management console</a>
            {% endif %}
          </div>
        {% endif %}
      </header>

      <header id="banner">
        <div id="banner_image">
          <div id="banner_text">
            {% block banner %}
              <h1>Best Practices in Statistics</h1>
              <h2>Online Statistics Practice for Students in the Social Sciences</h2>
            {% endblock %}
          </div>
        </div>
      </header>
    {% endblock %}

    {% block main %}
      <main>
        <nav>
	  {% block navigation %}
	  {% endblock %}
        </nav>

        <div id="editor">
          {% autodidact_editor %}
        </div>

        <article>
          {% block content %}
          {% endblock %}
        </article>
      </main>
    {% endblock %}

    {% block footer %}
      <footer>
        <p>
          BPS version <span id="bps_version">{% bps_version %}</span><br>
        </p>
        <p>
          Autodidact version {% autodidact_version %}<br>
        </p>
        <p>
          Copyright {% now 'Y' %} Tilburg University.
        </p>
        <p>
          BPS is built using <a href="https://github.com/JaapJoris/autodidact">Autodidact</a>. Autodidact is free software: you can modify and/or redistribute it under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">GNU Affero General Public License</a>.
        </p>
      </footer>
    {% endblock %}

    {% block extrascript %}{% endblock %}
  </body>
</html>
