{% extends 'base.html' %}

{% block navigation %}
{% include 'autodidact/include/homepage_navigation.html' %}
{% endblock %}

{% block content %}
<section>
<h1>Best Practices in Statistics</h1>

<p>
  Hello, and welcome to Best Practices in Statistics! Our goal is to get you hands-on experience with statistical software such as IBM SPSS during your study in the social sciences. BPS was created by the <a href="https://www.tilburguniversity.edu/about/schools/socialsciences/organization/departments/methodology-statistics/">Department of Methodology and Statistics</a> at the <a href="https://www.tilburguniversity.edu/about/schools/socialsciences/">Tilburg School of Social and Behavioral Sciences</a>.
</p>

<p>
  BPS is the new and improved version of the lab sessions formerly known as “SPSS Practicals”. There are three main differences. First, the assignments, data files, and lecture slides are now all accessible through this website. Second, everything has been made available in the English language to accommodate international students. Third, this website provides the opportunity to complete the assignments online. Both you and your teacher can easily check which assignments you have completed.
</p>

<p>
  BPS is still in development. Therefore, it might be possible that you encounter bugs or other annoyances. If you do, please let us know! Your feedback is very valuable. You can reach the primary BPS developer directly at the following email-address: <a href="mailto:J.J.Vens@tilburguniversity.edu">J.J.Vens@tilburguniversity.edu</a>.
</p>

<p>
  To get started, please select a course on the left.
</p>

</section>
{% endblock %}
