{% extends 'base.html' %}
{% load autodidact %}
{% load static %}

{% block extrahead %}
  <script src="{% static 'mathjax/MathJax.js' %}?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block navigation %}
  {% if not page.slug %}
    {% include 'autodidact/include/homepage_navigation.html' %}
  {% else %}
    {% include 'autodidact/include/page_navigation.html' %}
  {% endif %}
{% endblock %}

{% block content %}
<section>
  {{page.content|insert_images:page.get_absolute_url}}
</section>
{% endblock %}
