{% extends 'base.html' %}
{% load static %}

{% block navigation %}
  <ul>
    <li class="visitedPage"><a href="{% url 'homepage' %}?redirect=no">Home</a></li>
    <li class="currentPage"><a href="">{{programme.name}}</a></li>
    {% for course in programme.courses.all %}
      {% if course.active %}
        <li class="futurePage"><a href="{% url 'course' course.slug %}">{{course.name}}<br>(<code>{{course.colloquial_name}}</code>)</a></li>
      {% elif user.is_staff %}
        <li class="futurePage inactive"><a href="{% url 'course' course.slug %}">{{course.name}}<br>(<code>{{course.colloquial_name}}</code>)</a></li>
      {% endif %}
    {% empty %}
      <li class="empty">No {{programme.name}} courses available</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}
  {{programme.description}}
{% endblock %}
