{% extends 'base.html' %}

{% block navigation %}
  <ul>
    <li class="visitedPage"><a href="{% url 'homepage' %}">Home</a></li>
    <li class="currentPage"><a href="">Settings</a></li>
    <li class="futurePage"><a href="">Change password</a></li>
    <li class="futurePage"><a href="">Change default program</a></li>
  </ul>
{% endblock %}

{% block content %}
  <section>
    <h1>Change settings</h1>
    <p>
      On this page you can view and change your personal settings.
    </p>
  </section>
{% endblock %}
