#header {
  background: #003366;
  color: #fff;
}

#branding h1 {
  color: white;
}

.module h2, .module caption, .inline-group h2 {
  background: #003366;
}

.vIntegerField {
  width: 3em !important;
}
select[multiple] {
  height: 200px;
  width: 623px;
}

textarea {
  font-family: monospace;
}

#user-tools {
  display: none;
}

.object-tools {
  margin-right: 10px;
}

div.submit-row a.deletelink {
  background: none !important;
  color: #B5B5B5 !important;
}

div.submit-row input.default {
  font-size: 18px;
  font-weight: bold;
  background: #6c3;
}

div.submit-row input.default:hover {
  background: #390;
}

.fa {
  display: none !important;
}

.inline-related {
  border: 1px solid #ddd !important;
  margin-bottom: 10px;
}
