$black: #000;
$white: #fff;
$darkblue: #036;
$lightblue: #008ec6;
$grey: #e1ddd8;
$lightgrey: #e9e7e4;
$reallylightgrey: #f4f3f1;
$bordergrey: #ccc;
$red: #f45b3d;
$green: #390;
$step_color: $reallylightgrey;
$current_step_color: white;
$passed_step_color: #dcf7dc;
$border: 2px solid $darkblue;

body, html {
  font-family: "Arial", sans-serif;
  color: $darkblue;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  color: $lightblue;
}

a.button {
  color: white;
  background: $lightblue;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.15em;
}

input, select {
  font-size: 1em;
}

small {
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border: 1px solid $lightblue;
  border-radius: 10px;
  font-size: 1.15em;
  width: 70%;
}

code {
  font-size: 1em;
  background: $reallylightgrey;
  padding: 2px 4px 1px 4px;
  border-radius: 5px;
  border: 1px solid $bordergrey;
}

pre {
  code {
    border: none;
    background: none;
    padding: 0;
  }
  display: block;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 10px;
  background: $reallylightgrey;
  border: 1px solid $bordergrey;
  width: 80%;
  white-space: pre-wrap;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

header#logo {
  width: 960px;
  height: 80px;
  margin: auto;
  position: relative;

  div.logo_container {
    display: inline-block;
    height: 20px;
    img {
      vertical-align: top;
      height: 80px;
      max-width: none;
    }
  }

  div.user_menu {
    float: right;
    position: relative;
    padding-top: 33px;
    padding-bottom: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;
        float: left;

        a {
          text-decoration: none;
        }
      }
      li:before {
        content: '-';
        margin: 0 .25em;
      }
      li:first-child:before {
        content: '';
      }
    }
  }
}

header#banner {
  clear: both;
  width: 100%;
  background: $darkblue;
  margin-bottom: 30px;

  #banner_image {
    height: 137px;
    width: 960px;
    margin: auto;
    background: $darkblue; // Looks much better if you put an image here!
    position: relative;

    #banner_text {
      color: white;
      background: rgba(0,142,198,0.75);
      position: absolute;
      top: 30px;
      left: 60px;
      height: 80px;
      width: 60%;

      h1 {
        font-size: 20px;
        margin: 17px 0 0 0;
      }
      h2 {
        font-size: 18px;
        margin: 0;
        font-weight: normal;
      }

      :before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 100%;
        top: 0;
        height: 50px;
        width: 30px;
        background: rgba(0,142,198,0.5);
      }
      :after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 100%;
        width: 0px;
        height: 0px;
        border-top: 30px solid rgba(0,142,198,0.5);
        border-left: 30px solid transparent;
      }
    }
  }
}

nav {
  width: 240px;
  margin-right: 10px;
  float: left;

  code {
    font-size: 0.8em;
    background: none;
    padding: 0;
    border: none;
  }

  ul {
    font-size: 13px;
    padding-bottom: 20px;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

      > a {
        transition: all 0.1s ease-out;
        text-decoration:none;
        color: $darkblue;
        background: url("/static/nav_arrow_list.png") 15px 10px no-repeat;
        padding: 6px;
        padding-left: 36px;
        background-color: $lightgrey;
        display: block;
      }
    }

    li.locked {
      background: url("/static/nav_arrow_list.png") 15px 10px no-repeat;
      padding: 6px 0px 5px 35px;
      background-color: $lightgrey;
      color: #CD9999;
    }
	a.locked {
      color: #CD9999;
	}

    li.inactive {
      a {
	color: #B5B5B5 !important;
      }
      a:after {
	content: " - not visible to students";
	font-style: italic;
      }
    }

    li.visitedPage {
      a {
        background: $lightgrey url("/static/nav_arrow_visited.png") 15px 15px no-repeat;
        padding: 10px 5px 5px 35px;
        display: block;
        font-size: 16px;
      }

      a:hover {
        background-color: $grey;
      }
    }

    li.currentPage {
      a {
        background: $white;
        font-weight: bold!important;
        color: $black;
        padding: 10px 5px 5px 15px;
        margin-bottom: 1px;
        font-size: 14px;
        display: block;
      }
    }

    li.futurePage {
      a:hover{
        background: url("/static/nav_arrow_list.png") 20px 10px no-repeat;
        background-color: $grey;
        color: $lightblue;
      }
    }

    li.heading {
      color: #666;
      padding: 6px 0px 5px 16px;
      background-color: $lightgrey;
      display: block;
      font-style: italic;
    }

    li.spacer {
      height: 15px;
      background-color: $white;
    }

    li.empty {
      color: #666;
      padding: 6px 0px 5px 16px;
      background-color: $lightgrey;
      display: block;
    }
  }
}

main {
  display: block;
  width: 960px;
  margin: auto;
  position: relative;
}

#editor {
  position: absolute;
  top: -23px;
  right: 0;
}

article {
  margin-left: 260px;
  padding: 20px;
  padding-bottom: 1px;
  padding-top: 1px;
  box-shadow: 0px 1px 6px #b8afa2;
  line-height: 1.5;
  overflow: hidden;
  min-height: 10em;

  h1:first-child {
    margin-top: 0;
  }
}

section {
  margin: 20px 0;
  position: relative;
}

ul.tagcloud {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
    a {
      display: inline-block;
      //max-width: 100px;
      height: 28px;
      line-height: 28px;
      padding: 0 1em;
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #333;
      font-size: 13px;
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s;
    }
    a:hover {
      background-color: $lightblue;
      border: 1px solid $lightblue;
      color: #fff;
    }
  }
}

footer {
  clear: both;
  width: 960px;
  margin: auto;
  padding: 20px 0;
  height: 100px;
  color: #c3bcb2;
  font-size: 12px;

  a {
    color: #A8D7E1;
  }
}

div.add {
  margin: 8px 35px;
}

a.editlink, .staff {
  font-size: 12px;
  font-weight: bold;
  color: #f45b3d !important;
}

.remove_student {
  position: absolute;
  top: -23px;
  right: 0;
}

section.attendance {
  float: right;
  z-index: 1000;
  width: 180px;
  background: $reallylightgrey;
  border: 1px solid $bordergrey;
  padding: 10px;
  font-size: 11px;
  line-height: 1.5;
  margin-left: 20px;

  hr {
    margin-top: 20px;
  }

  form {
    text-align: right;
    margin-top: 15px;

    .ticket_error {
      border: 1px solid red;
    }

    .ticket_error_text {
      color: red;
    }

    input {
      margin: 2px;
      box-sizing: border-box;
    }
    input[type=text] {
      width: 60px;
    }
    input[type=submit] {
      min-width: 60px;
    }
  }

  div.ticket {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}

section.session {
  margin-bottom: 50px;
}

section.students {
  clear: right;

  table {
    border: 1px solid $bordergrey;
    background-color: $reallylightgrey;
    width: 100%;
    border-radius: 3px;
    color: #333;
    margin-bottom: 40px;

    td, th {
      border-top-color: white;
      border-bottom: 1px solid #DFDFDF;
      color: #555;
    }
    th {
      text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
      font-weight: normal;
      padding: 7px 7px 8px;
      text-align: left;
      line-height: 1.3em;
      font-size: 12px;
    }
    td {
      padding: 4px 7px 2px;
      vertical-align: top;
    }
  }
}

section.progress {
  clear: right;

  table {
    width: 100%;
    border-collapse: collapse;
    background: url('/static/grid.png');

    .y-axis {
      background: white;
      border-right: 1px solid #036;
      width: 8em;
      text-align: right;
      padding: 6px;
    }

    .x-axis {
      background: white;
      border-top: 1px solid #036;

      .right {
	float: right;
      }
      .left {
	float: left;
      }
    }

    .origin {
      background: white;
    }
  }
}

.bar {
  height: 20px;
  background-color: #6c3;
  text-align: right;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 12px;
}

section.answers {
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: -20px;

    h2 {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    pre {
      font-size: 12px;
      margin: 0;
      margin-bottom: 10px;
      white-space: pre-wrap;
    }

    pre.missing {
      color: red;
    }

    td {
      vertical-align: top;
    }
    td.step {
      width: 77px;
      text-align: right;
      padding-right: 10px;
      padding-top: 5px;
    }
  }
}

section.step {
  table.wizard {
    width: 100%;
    height: 400px;
    margin-top: -15px;
    border-collapse: collapse;

    td {
      vertical-align: top;
      height: 100%;
    }
    td.header {
      border-bottom: $border;
      margin-top: -15px;
      padding: 10px;
      height: 10px;

      img#checkbox {
	margin-left: -12px;
	vertical-align: top;
      }

      img#fullscreen_toggle {
        float: right;
        margin-right: -12px;
      }

      h1, h2 {
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	margin: 3px 0 0 4px;
      }

      h2 {
	float: right;
      }
    }

    td.answer {
      padding-bottom: 15px;
      text-align: right;
      font-weight: bold;
      height: 0;

      div.correct {
        color: $green;
        font-size: 12px;
      }
      div.incorrect {
        color: $red;
      }

      textarea {
	vertical-align: top;
        width: 100%;
	max-width: 400px;
	height: 70px;
        border: none;
        border: 1px solid $bordergrey;
      }

      ul.answers {
        margin: 0;
        padding: 0;
        display: inline-block;
        padding-right: 15px;
        max-width: 389px;
        vertical-align: top;
        border: 1px solid #ccc;
        list-style: none;
        text-align: left;
        font-weight: normal;

        li {
          text-indent: -24px;
          margin: 0;
          margin-left: 24px;
          padding: 0;
        }
        input {
          vertical-align: top;
          position: relative;
          top: 2px;
        }
        input, label {
          cursor: pointer;
        }
      }
    }
  }

  div.step_clarifications {
    position: relative;
    div.clarification {
      height: 0;
      overflow: hidden;
      img {
        margin-top: 1em;
        max-width: 100%;
      }
    }
    input.toggle {
      display: none;
    }
    input.toggle + label {
      position: absolute;
      top: -18px;
      // left is set inline
      margin-left: -16px;
      height: 14px;
      width: 14px;
      cursor: pointer;
      background-image: url('/static/info.png');
      background-size: contain;
    }
    input.toggle:checked + label {
      background-image: url('/static/info2.png')
    }
    input.toggle:checked + label + div.clarification {
      height: auto;
      border-top: $border;
    }
  }

  div.step_footer {
    padding-top: 20px;
    border-top: 2px solid $darkblue;

    ul.progress {
      list-style: none;
      margin: -1px;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;

      li {
        height: 34px;
        flex: 1 0 20px;
        margin: 1px;
        text-align: center;
      }
      li:first-child,
      li:last-child {
        flex: 2 0 80px;
        max-width: 200px;
        text-align: left;
      }
      li:last-child {
        text-align: right;
      }

      input {
        height: 100%;
        width: 100%;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
      }
      input.previous, input.next {
        margin: 0;
      }
      $rad: 8px;
      input.previous {
        color: black;
        background: $lightgrey;
        text-align: left;
        border-radius: $rad 0 0 $rad;
        padding-left: 10px;
      }
      input.previous:disabled {
        cursor: default;
        color: #bbb;
      }
      input.next {
        text-align: right;
        border-radius: 0 $rad $rad 0;
        color: white;
        background: $lightblue;
        font-weight: bold;
        padding-right: 10px;
      }
      input.step {
        background: $step_color;
        color: black;
      }
      input.current {
        background: none;
        cursor: default;
        font-weight: bold;
        color: black;
      }
      input.passed {
        background: $passed_step_color;
      }
    }
  }
}

main.fullscreen {
  display: flex;
  text-align: center; /* fallback in case flex is not supported */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $reallylightgrey;

  article {
    background: white;
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 660px;
    margin: 2em 0;
    position: relative;
  }
}

form.management {
  label {
    display: inline-block;
    width: 120px;
  }
  ul#id_groups {
    list-style: none;
    label {
      width: auto;
    }
  }
}
